body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}
header {
    background: #004d66;
    color: white;
    padding: 1em;
    text-align: center;
}
main {
    padding: 2em;
    max-width: 900px;;      /* 800px;*/
    margin: 0 auto;
    background: none;             /*white;*/
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
h1, h2 {
    margin-bottom: 0.5em;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 0.5em 0;
}
a {
    color: #0077cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
}

/* script.js */
// Trenutno prazno – pripravljeno za interaktivne funkcije
console.log("JavaScript datoteka je naložena.");
